<%- include('head.ejs') %>
<body>
<%- include('header.ejs') %>
<%- include('main.ejs') %>
<%- include('footer.ejs') %>
<%- include('javascript-scripts.ejs') %>
  <!-- this is not common but is possible to see in the real world -->
</body>